{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"]
  ]
}

// {
//     "presets": [
//       [
//         "@babel/preset-env", {
//           "targets": {
//             "node": "current"
//           }
//         }
//       ]
//     ]
//   }

// {
//     "presets": ["@babel/preset-env"]
//   }