EMAIL_AND_PASSWORD_KEY=
SPECIAL_PIN_KEY=

MY_EMAIL_ADDRESS=
MY_EMAIL_PASSWORD=
# DEV DB is db created on your machine
DEV_USER =
DEV_PASSWORD=
DEV_SERVER=
DEV_PORT=
DEV_DATABASE=

DATABASE_URL = postgres://{db_username}:{db_password}@{host}:{port}/{db_name}

# Elephant sql
TEST_USER = 
TEST_PASSWORD=
TEST_SERVER = 
TEST_PORT = 
TEST_DATABASE=

#heroku psql db 
DB_USER =
DB_PASSWORD= 
DB_SERVER= 
DB_PORT=
DB_DATABASE=

CLOUD_NAME=
API_KEY=
API_SECRET=

NODE_ENV=development

EMAIL_AND_PASSWORD_TOKEN=